/* *
*--- 01 TYPOGRAPHY SYSTEM 
*FONT SIZE SYSTEM (px)
? --   10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 /48/ 52 / 62 / 74 / 86 / 98

*- Font-Weight:
Default: 400
medium: 500
semi-bold: 600
bold: 700

font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

*- Line-heightL:
  Default: 1
  h1: 1.05
  h2:1.1
  p: 1.6

  *-- Letter spacing
  -0.5px
  0.75px




*--- 02 Color
   Primary: #e67e22

*- Tints:

*- shades:

*- Accents
*- Greys:
#555
#333
#6f6f6f
#888
#767676

*--- 05 Shadows 
 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

*--- 06 Border-radius
Default: 9px
MEAL CARD: 11PX

*--- 07 WhiteSpace
*- SPACING SYSTEM (px)
? --   2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
/**
*!---------------------------- Primary setup----------------------
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1c1d1f;
  line-height: 1;
}

/**
*!---------------------------- Container ----------------------
 */
.container {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 2.4rem !important;
}
/**

/**
*!---------------------------- Grid ----------------------
 */

.grid {
  display: grid;
  gap: 1rem;
}

.grid--2--col {
  grid-template-columns: repeat(2, 1fr);
}
.grid--4--col {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5--col {
  grid-template-columns: repeat(5, 1fr);
}

/**
*!---------------------------- Heading ----------------------
 */

.heading-secondary {
  font-size: 3.2rem;
  color: #1c1d1f;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  letter-spacing: -0.6px;
  margin-bottom: 1.6rem;
}
.heading-tertiary {
  font-size: 2.4rem;
  color: #000;
  line-height: 1.2;
  letter-spacing: -0.9px;
  margin-bottom: 1.4rem;
  font-weight: 700;
}

/* *!----------------------------Course style---------------------- */
*/ .card {
  position: relative;
}

.card img {
  width: 97%;
  border: 1px solid #ddd;
  cursor: pointer;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  cursor: pointer;
}

.card-author {
  font-size: 1.1rem;
  color: #919192;
  margin-bottom: 0.4rem;
  line-height: 1.4;
  cursor: pointer;
}
.course-rating-box {
  display: flex;
  cursor: pointer;

  gap: 0.4rem;
  margin-bottom: 0.8rem;
}
.rating-point {
  font-weight: 700;
  color: #b4690e;
  font-size: 1.5rem;
  cursor: pointer;
}
.rating-star {
  color: #e69a1e;
  font-size: 1.4rem;
  cursor: pointer;
}
.rating-number {
  font-size: 1.4rem;
  color: #858585;
  letter-spacing: -0.5px;
  cursor: pointer;
}
.course-price {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
}

.course-price span {
  font-weight: 700;
  font-size: 1.6rem;
  cursor: pointer;
}

.course-btn-box {
  border: none;
  height: 4.6rem;
  width: 4.6rem;
  background-color: #000;
  border-radius: 50%;

  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 240%;
  right: 32.9rem;
}

.course-btn-box:hover {
  background-color: #1c1d1f;
}
.course-btn {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #fff;
  cursor: pointer;
}

.best-seller {
  background-color: #eceb98;
  color: #42400d;
  font-weight: 600;
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}

/**
*!---------------------------- button----------------------
 */

.btn:link,
.btn:visited {
  font-weight: 600;
  padding: 1.2rem 1.8rem;
  font-size: 1.5rem !important;
  text-decoration: none;
  color: #1c1d1f;
}

.btn--white:link,
.btn--white:visited {
  border: 1px solid #1c1d1f;
}
.btn--white:hover,
.btn--white:active,
.last-icon:hover {
  color: #1c1d1f !important;
  background-color: #e6e6e6;
}

.btn--black:link,
.btn--black:visited {
  background-color: #1c1d1f;
  color: #fff !important;
}

.btn--black:hover,
.btn--black:active {
  background-color: #000;
  color: #fff !important;
}

.testimonial-btn:link,
.testimonial-btn:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #1c1d1f;
  padding: 1.4rem 1.4rem;
}
.testimonial-btn:hover,
.testimonial-btn:active {
  background-color: #000;
}
/**
*!----------------------------Single style ----------------------
 */

.margin-top {
  margin-top: 4.8rem;
}
.margin-top--2 {
  margin-top: 3rem;
}
.display {
  display: inline-block;
}

.text-align {
  text-align: center;
}
